.consult {
	padding-bottom: 12.5rem;
	@media (max-width: $desktop-s) {
		padding-bottom: 8.5rem;
	}
	@media (max-width: $tablet) {
		padding-bottom: 8.8rem;
		overflow: hidden;
	}
}
.consult__container {
	@media (max-width: $tablet) {
		padding-left: 0.785rem;
		padding-right: 0.785rem;
	}
}
.consult-card {
	position: relative;
	padding: rem(75) rem(100) rem(75) rem(47);
	color: var(--c-text-on);
	background-image: url(../img/form/form-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0.625rem;
	@media (max-width: $tablet) {
		border-radius: 0.714rem;
		padding: 2.857rem 1.28rem 12.71rem;
	}
}
.consult__title {
	margin-bottom: rem(20);
	@media (max-width: $tablet) {
		margin-bottom: 0.914rem;
	}
}
.consult__desc {
	font-size: rem(22);
	font-family: var(--ff-em);
	line-height: initial;
	margin-bottom: rem(60);
	@media (max-width: $desktop-s) {
		margin-bottom: 2.75rem;
	}
	@media (max-width: $tablet) {
		letter-spacing: normal;
		font-size: 1.285rem;
		line-height: initial;
		margin-bottom: 2.45rem;
	}
}
.consult__desc br {
	@media (max-width: $tablet) {
		display: none;
	}
}

.consult-form {
	position: relative;
}

.consult-form__fieldset {
	display: grid;
	grid-template-columns: repeat(3, 15.1875rem);//227
	column-gap: rem(20);
	align-items: center;
	justify-content: flex-start;
	margin-bottom: rem(16);
	@media (max-width: $desktop-l) {
		grid-template-columns: repeat(3, 15.188rem);
	}
	@media (max-width: $tablet) {
		grid-template-columns: 1fr;
		row-gap: 0.51rem;
		margin-bottom: 1.142rem;
	}
}
.consult-form__caption-row {
	@media (max-width: $tablet) {
		text-align: center;
		margin-bottom: 2.857rem;
	}
}
.consult-form__caption {
	--color: var(--c-text-on);
	color: var(--color);
	font-size: 0.875rem;
	letter-spacing: initial;
	font-style: italic;
	font-weight: 300;
	border-bottom: 1px solid var(--color);
	transition: var(--tr-regular);
	@media (max-width: $tablet) {
		font-size: 0.857rem;
	}
}
.consult-form__caption:hover {
	@media (any-hover:hover) {
		--color: var(--c-accent);
	}
}

.consult-card__pic {
	position: absolute;
	right: rem(100);
	bottom: rem(-82);
	display: block;
	border: rem(12) solid var(--bg-element);
	background-color: var(--bg-element);
	border-radius: 50%;
	@media (max-width: $desktop-l) {
		right: 1.25rem;
	}
	@media (max-width: $tablet) {
		width: 18rem;
		height: 18.285rem;
		margin-left: auto;
		margin-right: auto;
		border: 0.785rem solid var(--bg-element);
		right: 0;
		left: 0;
		bottom: -5.357rem
	}
}

.consult-card__img {
	display: block;
	width: rem(429);
	height: rem(438);
	border-radius: 50%;
	object-fit: cover;
	@media (max-width: $desktop-l) {
    width: 20.8125rem;
    height: 20.375rem;
	}
	@media (max-width: $desktop-m) {
		width: 20.813rem;
		height: 20.375rem;
	}
	@media (max-width: $desktop-s) {
		width: 23.813rem;
		height: 23.375rem;
	}
	@media (max-width: $tablet) {
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		// height: 18.142rem;
	}
}