.features {
	position: relative;
	z-index: 1;
	background-color: #F6F6F6;
	padding-bottom: 10rem;
	@media (max-width: $desktop-m) {
		padding-bottom: 8rem;
	}
	@media (max-width: $tablet) {
		padding-bottom: 6.285714285714286rem;
	}
}
.features__container {
	@media (max-width: $tablet) {
		padding-left: 0.7857142857142857rem;
		padding-right: 0.7857142857142857rem;
	}
}
.features__gallery {
	position: relative;
	display: grid;
	padding: rem(63) rem(49);
	grid-template-columns: 30.402778% 36.102778% 27.208333%;
	column-gap: rem(49);
	row-gap: rem(60);
	background-color: var(--bg-element);
	border-radius: rem(20);
	@media (max-width: $tablet) {
		grid-template-columns: 1fr;
		padding: 2.257rem 1.4rem 7.5rem 1.7857142857142858rem;
		row-gap: 2.667rem; //26
	}
}


.features-card {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	border-right: 1px solid #E4E4E4;
	padding-right: 2.728571rem;//rem(48);
	letter-spacing: -0.5px;
	@media (max-width: $tablet) {
		align-items: center;
		position: relative;
		border-right: none;
		padding-right: 0;
		line-height: initial;
		letter-spacing: 0;
	}
}
.features-card:nth-of-type(3) {
	@media (min-width: ($tablet + 1)) {
		border-right: none;
	}
}
.features-card:last-of-type {
	border-right: none;
}
@media (max-width: $tablet) {
	.features-card:nth-of-type(1) {
		order: 1;
	}
	.features-card:nth-of-type(2) {
		order: 3;
	}
	.features-card:nth-of-type(3) {
		order: 5;
	}
	.features-card:nth-of-type(3) .features-card__pic::after {
		@media (max-width: $tablet) {
			display: none;
		}
	}
	.features-card:nth-of-type(4) {
		order: 2;
	}
	.features-card:nth-of-type(5) {
		order: 4;
	}
}
.features-card__pic {
	--size: 2.1875rem;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	margin-right: 1.4285714285714286rem;//rem(20);
	@media (max-width: $tablet) {
		--size: 2.4rem;
	}
}
.features-card__pic::after {
	@media (max-width: $tablet) {
		content: "";
		left: -0.428rem;
		bottom: -1.114rem;
		position: absolute;
		display: block;
		width: 3.388rem;
		height: 2px;
		background-color: #E4E4E4;
	}
}
.features-card__img {
	display: block;
	width: 100%;
	height: 100%;
}
.features-card__title br {
	@media (max-width: $tablet) {
		display: none;
	}

}


.features__button {
	position: absolute;
	font-weight: 500;
	z-index: 1;
	bottom: rem(-40);
	right: rem(78);
	display: block;
	color: var(--c-text-on);
	padding: 2.125rem 2.525rem;
	letter-spacing: initial;
	font-size: 1rem;
  transition: var(--tr-regular);
  cursor: pointer;
  background: transparent;
  @media (max-width: $desktop-m) {
  	right: rem(50);
  }
  @media (max-width: $tablet) {
  	right: 0;
  	left: 0;
  	bottom: -2.2rem;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: #{'calc(100% - calc(1.785rem * 2))'};
  	padding-left: 1.5714285714285714rem;
  	padding-right: 1.5714285714285714rem;
  	padding-top: 1.7142857142857142rem;
  	padding-bottom: 1.7142857142857142rem;
  }
  @media (max-width: $mobile-l) {
  	padding-left: 1.0714285714285714rem;
  	padding-right: 1.0714285714285714rem;
  }
}
.features__button::after,
.features__button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: rem(20);
  transition: var(--tr-regular);
}
.features__button::before {
  background-color: #F6F6F6;
  width: #{'calc(100% + 1.5rem)'};
  top: -0.75rem;//rem(-12);
  left: -0.75rem;//rem(-12);
  @media (max-width: $tablet) {
	  width: #{'calc(100% + 1rem)'};
	  top: -0.5rem;
	  left: -0.5rem;
  }
}
.features__button::after {
  background-color: var(--c-accent);
  border: 1px solid var(--c-accent);
  border-radius: 0.7142857142857143rem;
}

.features__button:hover{
	@media (any-hover:hover) {
		color: var(--c-accent)
	}
}
.features__button:hover:after{
	@media (any-hover:hover) {
		background-color: var(--bg-element);
	}
}
