.footer {
	padding-top: 7.5rem;//rem(120);
	padding-bottom: 7.5rem;//rem(120);
	overflow: hidden;
	@media (max-width: $desktop-s) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	@media (max-width: $tablet) {
		padding-top: 4.285rem;
		padding-bottom: 4.285rem;
	}
}

.footer-contact__title {
	margin-bottom: rem(20);
	@media (max-width: $tablet) {
		margin-bottom: 1.65rem;
	}
}
.footer-contact__subtitle {
	font-family: var(--ff-em);
	font-size: rem(24);
	color: var(--c-text-bold);
	margin-bottom: rem(-14);
	@media (max-width: $tablet) {
		font-size: 1.285rem;
		line-height: initial;
		margin-bottom: 1.942rem;
	}
}

.footer-contact__content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
	@media (max-width: $tablet) {
		flex-direction: column;
	}
}

.footer-contact__map {
	position: relative;
	z-index: 2;
	display: block;
	margin-left: rem(-55);
	margin-right: rem(-100);
	border: rem(18) solid var(--bg-element);
	min-width: rem(770);
	max-width: rem(770);
	border-radius: rem(20);
	@media (max-width: $tablet) {
		min-width: initial;
		max-width: initial;
		// width: #{'calc(100% + 1.828rem)'};
		width: #{'calc(100% + 0.928rem)'};
		margin-left: 0;
		margin-right: unset;
		margin-bottom: -8.2rem;
		border: 0.714rem solid var(--bg-element);
	}
}
.footer-contact__map-img {
	display: block;
	height: rem(380);
	width: 100%;
	object-fit: cover;
	border-radius: rem(20);
  @media (max-width: $tablet) and (min-width: ($mobile-l + 1)) {
  	height: 21.142rem;
  }
	@media (max-width: ($mobile-l + 350)) {
		height: 18.142rem;
	}
	@media (max-width: ($mobile-l + 151)) {
		height: 16.142rem;
	}
	@media (max-width: $mobile-l) {
		height: 11.142rem;
	}
}

.footer-contact__contacts {
	position: relative;
	z-index: 1;
	background: #F6F6F6;
	border-radius: rem(20);
	padding-top: rem(84);
	padding-right: rem(47);
	padding-bottom: rem(34);
	padding-left: rem(153);
	margin-right: -3.2rem;
	// min-width: rem(771);
	width: 100%;
	@media (max-width: $tablet) {
		padding-top: 10.285rem;
		padding-bottom: 1.1rem;
		margin-left: 0;	
		margin-right: 0;
		padding-left: 2.071rem;
		padding-right: 2.785rem;
		max-width: initial;
		width: #{'calc(100% + 4.2rem)'};
		border-radius: 1.428rem;
	}
}

.footer-contact__info {
	margin-bottom: rem(78);
	@media (max-width: $tablet) {
		margin-bottom: 2.857rem;
	}
}
.footer-contact__info-title {
	font-size: rem(18);
	line-height: initial;
	margin-bottom: rem(20);
	font-weight: 600;
	@media (max-width: $tablet) {
		font-size: 1rem;
	}
}
.footer-contact__info-desc {
	line-height: initial;
}

.footer-contact__info-desc a {
	transition: var(--tr-regular);
}
.footer-contact__info-desc a:hover {
	@media (any-hover:hover) {
		color: var(--c-accent);
	}
}

.footer-contact__socials {
	margin-bottom: 2.5625rem;//rem(41);
	@media (max-width: $tablet) {
		margin-bottom: 1.428rem;
	}
}

.footer-contact__platforms {
	margin-bottom: 2.625rem;//rem(42);
	@media (max-width: $tablet) {
		margin-bottom: 2.957rem;
	}
}
.footer-contact__platforms .platforms__link {
	height: rem(26);
	@media (max-width: $tablet) {
		margin-right: 1.6rem;
	}
}
.footer__links {
	display: flex;
	font-weight: 500;
	font-size: rem(14);
	margin-bottom: rem(8);
}
.footer__link {
	border-bottom: 1px solid;
	color: var(--c-text-regular);
	transition: var(--tr-regular);
}
.footer__link:hover {
	@media (any-hover:hover) {
		color: var(--c-accent)
	}
}

.footer__privacy {
	@media (max-width: $tablet) {
		font-size: 0.857rem;
	}
}
.footer__author {
	font-family: var(--ff-em);
	margin-left: auto;
	font-size: 1.125rem;//rem(18);
	@media (max-width: $tablet) {
		position: absolute;
		right: 2.4rem;
		bottom: -2.6rem;
		font-size: 1rem;
	}
}

.footer-contact__info-desc a {
	border-bottom: 1px solid var(--c-text-regular);
}
.footer-contact__info-desc a:hover {
	@media (any-hover:hover) {
		border-color: var(--c-accent);
	}
}
