.hero {
  padding-bottom: 9.2rem;
  @media (max-width: $desktop-m) {
    padding-bottom: 6.3rem;
  }
  @media (max-width: $tablet) {
    padding-top: 3.286rem;
    padding-bottom: 5.8914285714rem;
    overflow: hidden;
  }
}
.hero__title {
  font-size: 2.25rem;//rem(36);
  margin-bottom: 1.45rem;
  line-height: initial;
  @media (max-width: $tablet) {
    font-size: 1.4285714285714286rem; //20
    margin-bottom: 1.4285714285714286rem; //20
  }
}
.hero__title br {
  @media (max-width: $desktop-l) {
    display: none;   
  }
}
.hero__desc {
  font-family: var(--ff-em);
  font-size: 1.5rem;//rem(24);
  margin-bottom: 3.1375rem;
  @media (max-width: $tablet) {
    font-size: 1.2857142857142858rem; // 18
    line-height: initial;
    margin-bottom: 2.857142857142857rem;//40
  }
  @media (max-width: $w-mobile) {
    margin-bottom: 3.857143rem;
  }
  @media (max-width: $mobile-l) {
    margin-bottom: 2.857142857142857rem;//40
  }
}

.hero-gallery {
  position: relative;
  border: 0.625rem solid #F6F6F6;//10px
  border-radius: 1.25rem;//20
  width: #{'calc(100% + calc(0.625rem * 2))'};
  margin-left: -0.625rem;
  z-index: 1;
  @media (max-width: $tablet) {
    border-width: 0.2857142857142857rem;
  }
  @media (max-width: $w-mobile) {
    border-radius: 0;
  }
}
.hero-gallery__pic {
  display: block;
  background-color: #f6f6f6;
  @media (max-width: $tablet) {
    height: 27.428571428571427rem; //384
  }
}
.hero-gallery__img {
  display: block;
  border-radius: 1.25rem;//20
  object-fit: cover;
  @media (max-width: $w-mobile) {
    border-radius: 0;
  }
}
.hero-gallery__circle {
  --color: var(--c-text-on);
  position: absolute;
  top: -5.5rem;//rem(-88);
  right: 10.8125rem;//rem(173);
  width: 11.875rem;//rem(190);
  height: 11.875rem;//rem(190);
  text-align: center;
  border-radius: 50%;
  color: var(--color);
  font-size: 0.875rem;//rem(14);
  transition: var(--tr-regular);
  z-index: 1;
  @media (max-width: $desktop-l) {
    right: 7.8125rem;//rem(173);
  }
  @media (max-width: $tablet) {
    width: 9.642857142857142rem;//135
    height: 9.714285714285714rem;//136
    right: 2.543rem; //30
    top: -3.95rem;
    font-size: 0.8571428571428571rem;
  }
}
.hero-gallery__circle:before {
  content: "";
  position: absolute;
  display: block;
  height: 41%;
  width: 100%;
  background-color: var(--bg-element);
  z-index: -1;
  top: 0;
  left: 0;
  @media (max-width: $tablet) {
    height: 96%;
    width: 94%;
    border-radius: 0 0 50% 50%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
  }
}
.hero-gallery__circle:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 0 50% 50%;
  background-color: #f6f6f6;
  z-index: -2;
}
.hero-gallery__circle:hover {
  @media (any-hover:hover) {
    --color: var(--c-accent);
    .hero-gallery__circle-inner {
      background-color: var(--bg-element);
    }
  }
}

.hero-gallery__circle-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: var(--c-accent);
  border-radius: 50%;
  color: var(--color);
  transition: var(--tr-regular);
  @media (max-width: $tablet) {
    width: 86%;
    height: 85%;
  }
}
.hero-gallery__circle-inner:before {
  content: "";
  display: block;
  width: rem(154);
  height: rem(154);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 0.3125rem solid var(--c-text-on);
  border-radius: 50%;
  transition: var(--tr-regular);
  @media (max-width: $tablet) {
    width: 80%;//135
    height: 80%;//136
    border-width: 1px;
  }
}
.hero-gallery__circle-inner:after {
  @media (max-width: $tablet) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 37.7%;
    background-color: var(--bg-element);
    z-index: -1;
  }
}
.hero-gallery__circle:hover .hero-gallery__circle-inner:before {
  @media (any-hover:hover) {
    border-color: var(--c-accent)
  }
}

.hero-gallery__shield {
  position: absolute;
  bottom: -2.25rem; //-36
  left: 0;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--c-text-on);
  padding: 1.125rem 2.8125rem;//rem(18) rem(45);
  border-radius: 0.625rem;
  font-size: 1rem;
  @media (max-width: $desktop-m) {
    bottom: -2.15rem;
    left: 0.2rem;
  }
  @media (max-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
    bottom: -2rem;
    right: 0;
    max-width: 20rem;
    font-size: 0.8571428571428571rem; //12
  }
}
.hero-gallery__shield::before,
.hero-gallery__shield::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: rem(10);
}
.hero-gallery__shield::before {
  background-color: #F6F6F6;
  width: #{'calc(100% + 1.5rem)'};
  top: -0.75rem; //-12
  left: -0.75rem;//-12
  border-radius: 1.25rem 1.25rem 0 1.25rem;//20
  height: 85%;
  @media (max-width: $desktop-s) {
    border-radius: 0.7142857142857143rem 0.7142857142857143rem 0 0;//20
  }
  @media (max-width: $tablet) {
    top: -0.82rem;
    border: 0.2857142857142857rem solid #f6f6f6;
    border-bottom: none;
    background-color: var(--bg-element);
    height: 80%;
  }
}
.hero-gallery__shield::after {
  background-color: var(--c-accent);
  padding: 1rem;
}
.hero-gallery__icon {
  --size: 3.25rem;
  width: var(--size);
  max-width: var(--size);
  height: var(--size);
  display: block;
  margin-right: 1.25rem;
  @media (max-width: $tablet) {
    --size: 2.142857142857143rem;
    margin-right: 0.7142857142857143rem;
  }
}
