.stages {
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.stages__container {
	position: relative;
	z-index: 2;
}
.stages__title {
	@media (max-width: $tablet) {
		margin-bottom: 2.143rem;
	}
	@media (max-width: $mobile-l) {
		margin-bottom: 4.143rem;
	}
}
.stages__gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: rem(20);
	row-gap: rem(32);
	counter-reset: stages-cards;
	@media (max-width: $desktop-m) {
		row-gap: 1.25rem;
	}
	@media (max-width: $tablet) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: $w-mobile) {
		grid-template-columns: 1fr;
		row-gap: 2.6rem;
	}
}
.stages-card {
	position: relative;
	counter-increment: stages-cards;
	background-color: #f6f6f6;	
	border-radius: 1.25rem;//rem(20);
	padding: rem(74) rem(23) rem(16) rem(23);
	letter-spacing: -0.5px;
	@media (max-width: $desktop-s) {
		padding-bottom: 1.4rem;
	}
	@media (max-width: $tablet) {
		padding: 2.825rem 1.238rem 1.8rem 1.238rem;
		border-radius: 1.428rem;
	}
}
.section--bg-grey .stages-card {
	background-color: var(--bg-element);	
}
.stages-card::before,
.stages-card::after {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: rem(58);
	height: rem(58);
	@media (max-width: $tablet) {
		top: -1.59rem;
		left: 0.1rem;
		width: 3rem;
		height: 3rem;
	}
}
.stages-card::before {
	content: "";
	top: rem(-6);
	left: rem(-8);
	background-color: var(--c-accent);
	border-radius: 50%;
	border-top: rem(6) solid #F6F6F6;
	border-right: rem(8) solid #F6F6F6;
	border-bottom: rem(10) solid #F6F6F6;
	border-left: rem(8) solid #F6F6F6;
	border-color: #ffffff;
	@media (max-width: $tablet) {
		border-width: 0.428rem;
		border-top-width: 0.357rem;
	}
}
.section--bg-grey .stages-card::before {
	border-color: #f6f6f6;
}
.stages-card::after {
	content: counter(stages-cards);
	position: absolute;
	top: -0.5rem;
  left: -0.6rem;
	font-family: var(--ff-em);
	font-size: rem(22);
	color: var(--c-text-on);
	@media (max-width: $tablet) {
		font-size: 1.142rem;
	}
}
.stages__gallery--number-bottom-right .stages-card::before {
	top: unset;
	left: unset;
	bottom: rem(-6);
	right: rem(-8);
}
.stages__gallery--number-bottom-right .stages-card::after {
	top: unset;
	left: unset;
	bottom: -0.3rem;
  right: -0.45rem;
}


.stages__gallery--work > .stages-card:nth-child(3) {
	@media (min-width: ($tablet + 1)) {
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 3;
		grid-column-end: 4;
	}
	@media (max-width: $tablet) {
		padding-bottom: 0.642rem;
		margin-bottom: -0.714rem;
	}
}

.stages-card__title {
	font-size: 1rem;
	margin-bottom: rem(20);
	font-weight: 600;
	@media (max-width: $desktop-s) {
		margin-bottom: 0.55rem;
	}
	@media (max-width: $tablet) {
		margin-bottom: 0.714rem;
	}
}
.stages-card__desc {
	font-size: 1rem;
	@media (max-width: $tablet) {
		letter-spacing: initial;
		line-height: initial;
	}
}
.stages-card__desc br {
	@media (max-width: $w-mobile) {
		display: none;
	}
}

.stages-card__quote {
	position: relative;
	background-color: #F6F6F6;
	border-radius: rem(20);
	padding: rem(26) rem(16) rem(16) rem(16);
	min-height: rem(205);
	margin-top: rem(37);
	overflow: hidden;
	@media (max-width: $tablet) {
		padding-top: 0.928rem;
		padding-left: 0.714rem;
		padding-bottom: 1.357rem;
		min-height: 9.142rem;
		margin-left: -0.785rem;
		margin-top: 1.3rem;
		width: #{'calc(100% + calc(0.785rem * 2))'};
	}
}
.stages-card__quote-desc {
	margin-bottom: 1.25rem;//rem(20);
	max-width: 14.625rem;//rem(234);
	font-size: 0.875rem; //14
	font-style: normal;
	font-weight: 400;
	@media (max-width: $tablet) {
		max-width: 10.857rem;
		font-size: 1rem;
		letter-spacing: initial;
		line-height: initial;
		margin-bottom: 0.714rem;
	}
	@media (max-width: $w-mobile) {
		max-width: 64%;
	}
	@media (max-width: $mobile-l) {
		max-width: 10.857rem;
	}
}
.stages-card__quote-cite {
	font-family: var(--ff-em);
	font-size: 1.25rem;
	@media (max-width: $tablet) {
		font-size: 1rem;
		letter-spacing: initial;
	}
}
.stages-card__quote-pic {
	position: absolute;
	right: -20px;
	bottom: 0;
	height: 100%;
	width: rem(208);
	@media (max-width: $desktop-l) {
		width: 11rem;
	}
	@media (max-width: $desktop-m) {
		width: 10rem;
	}
	@media (max-width: $tablet) {
		right: -29px;
		height: 94%;
		width: 12rem;
	}
}
.stages-card__quote-img {
	display: block;
	object-position: bottom;
}

.stages-card__link {
	--color: var(--c-accent);
	color: var(--color);
	border-bottom: 1px solid var(--color);
	font-family: var(--ff-em);
	font-size: 1.25rem;
	@media (max-width: $tablet) {
		font-size: 1.143rem;
	}
}
.stages-card__link:hover {
	@media (any-hover:hover) {
		border-color: transparent;
	}
}
