.header {
	position: absolute;
	// position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	padding-top: 4rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: $desktop-s) and (min-width: $tablet + 1) {
		padding-left: 2.6rem;
		padding-right: 2.6rem;
	}
	@media (max-width: $tablet) {
		padding-top: 0;	
	}
}
.header__container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 2.1rem 3rem 2.2rem;
	background-color: var(--bg-app);
	border-radius: 3rem;

	@media (max-width: $tablet) {
		border-radius: 	0;
		padding: 1rem 1.8rem 0.9rem;
	}
}

.header__logo {
	margin-right: 6rem;

	@media (max-width: $tablet) {
		margin-right: auto;
	}
}

.header__menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	transition: var(--tr-regular);

	@media (max-width: $tablet) {
		position: fixed;
		left: 0;
		bottom: 0;	
		width: 100%;	
		height: 100%;	
		// height: 92%;	
		padding: 	6rem 2rem 3rem;
		flex-direction: column;
		align-items: flex-start;	
		justify-content: flex-start;	
		background-color: var(--bg-app);
		z-index: -1;
		// display: none;	
		transform: translateY(-200%);
	}
}
.header--opened .header__menu {
		transform: translateY(0);
}
.header__nav {
	margin-right: auto;

	@media (max-width: $tablet) {
		margin-bottom: auto;
	}
}
.header__nav-links {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.8rem;
	letter-spacing: -0.02em;
	line-height: 1;
	@media (max-width: $tablet) {
		flex-direction: column;
		align-items: flex-start;
		font-family: 	var(--ff-title);
		font-size: 	2.5rem;
		letter-spacing: initial;
	}
}
.header__nav-link {
	display: block;
}
.header__nav-item:not(:last-child) {
	margin-right: 2rem;
	@media (max-width: $tablet) {
		margin-right: unset;
		margin-bottom: 2rem;
	}
}
.header__nav-item.header__nav-item--active {
	@media (max-width: $tablet) {
		color: var(--c-accent);
	}
}

.header__buttons {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	@media (max-width: $tablet) {
		flex-wrap: wrap;
	}
}
.header__socials {
	margin-right: 6.4rem;

	@media (max-width: $tablet) {
		margin-right: 1.5rem;
		--icons-size: 4rem
	}
}
.header__button-consult {
	flex-grow: 1;
	margin-top: 1.4rem;
	@media (min-width: $tablet+ 1) {
		display: none;
	}
}

.header__button-phone  {
  --button-icon-color: #222;
	@media (max-width: $tablet) {
	  --button-icon-color: #fff;
		--button-bg: #222222;
		flex-grow: 1;
		align-self: stretch;
	}
}
.header__button-phone .button__text {
	@media (max-width: $tablet) {
		display: none;
	}
}