.header {
	position: absolute;
	// position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	padding-top: 4rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: $desktop-s) and (min-width: $tablet + 1) {
		padding-left: 2.6rem;
		padding-right: 2.6rem;
	}
	@media (max-width: $tablet) {
		padding-top: 0;	
	}
}
.header__container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 2.1rem 3rem 2.2rem;
	background-color: var(--bg-app);
	border-radius: 3rem;
	@media (max-width: $tablet) {
		border-radius: 	0;
	}
}

.header__logo {
	margin-right: 6rem;
}

.header__menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	@media (max-width: $tablet) {
		position: fixed;
		left: 0;
		bottom: 0;	
		width: 100%;	
		height: 100%;	
		padding: 	3rem 2rem;
		flex-direction: column;
		align-items: flex-start;	
		justify-content: flex-start;	
		background-color: var(--bg-app);
		display: none;	
	}
}
.header__nav {
	margin-right: auto;
}
.header__nav-links {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.8rem;
	letter-spacing: -0.02em;
	line-height: 1;
	@media (max-width: $tablet) {
		flex-direction: column;
		align-items: flex-start;
		font-family: 	var(--ff-title);
		font-size: 	2.5rem;
		letter-spacing: initial;
	}
}
.header__nav-link {
	display: block;
}
.header__nav-item:not(:last-child) {
	margin-right: 2rem;
	@media (max-width: $tablet) {
		margin-right: unset;
		margin-bottom: 2rem;
	}
}

.header__buttons {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.header__socials {
	margin-right: 6rem;
}
.header__button-consult {
	@media (min-width: $mobile-l + 1) {
		display: none;
	}
}
