.bayan {
	overflow: hidden;
	transition: all 0.4s;
}

.bayan__top {
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.bayan__bottom {
	transition: all 0.4s;
	opacity: 0;
	position: relative;
	z-index: 1;
	overflow: hidden;
	width: 100%;
	grid-template-rows: 0fr;
	display: grid;
}
.bayan__bottom > * {
	min-height: 0;
	transition: var(--tr-regular);
}
.bayan:not(.bayan--opened) .bayan__bottom > * {
	padding-top: 0;
	padding-bottom: 0;
}

.bayan__bottom--absolute {
	position: absolute;
}

.bayan--opened .bayan__bottom {
	opacity: 1;
  grid-template-rows: 1fr;
}

.bayan--opened .bayan__toggler {
	transform: rotate(45deg);
}

.bayan__toggler {
  --line-width: 100%;
  --line-height: 0.4rem;
  --closer-width: 3rem;
  --closer-height: 3rem;
  position: relative;
  width: var(--closer-width, 3rem);
  height: var(--closer-height, 3rem);
  transition: var(--tr);
  transform-origin: center;

  @media (max-width: $tablet) {
	  --closer-width: 1.6rem;
	  --closer-height: 1.6rem;
	  --line-height: 0.2rem;
  }
}

.bayan__toggler:before,
.bayan__toggler:after {
	content: "";
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  background: var(--togler-color, var(--c-text-regular));
  transition: var(--tr);
  border-radius: 2rem;
}
.bayan__toggler:before {
  width: var(--line-width, 40%);
  height: var(--line-height, 0.2rem);
}
.bayan__toggler:after {
  width: var(--line-height, 0.2rem);
  height: var(--line-width, 40%);
}

.bayan__toggler:before {
  transform: translate(-50%, -50%);
}

.bayan__toggler:after {
  transform: translate(-50%, -60%);
}
