.megachips {
	display: flex;
	align-items: center;
	@media (max-width: $tablet) {
		position: relative;
		flex-direction: column;
	}
}
@media (max-width: $tablet) {
	.megachips::before,
	.megachips::after {
		content: "";
		position: absolute;
		bottom: -5px;
		display: block;
		width: 70px;
	  height: 32px;
		border-radius: 50%;
	}
	.megachips::before {
		right: -30px;
	  background: radial-gradient(circle 30px at top left ,#0000 98%,#fff) top left, radial-gradient(circle 30px at top right,#0000 98%,#f6f6f6);
	  transform: scaleX(-1);
	}
	.megachips::after {
		left: -30px;
	  background: radial-gradient(circle 30px at top left ,#0000 98%,#fff) top left, radial-gradient(circle 30px at top right,#0000 98%,#f6f6f6);
	  // background: radial-gradient(circle 30px at top left ,#0000 98%,#fff) top left, radial-gradient(circle 30px at top right,#0000 98%,#f6f6f6) top right, radial-gradient(circle 30px at bottom left ,#0000 98%,green) bottom left, radial-gradient(circle 30px at bottom right,#0000 98%,purple) bottom right;
	}
}
.megachips__list {
	display: flex;
	flex-wrap: wrap;
	white-space: nowrap;
	@media (max-width: $tablet) {
		position: absolute;
		left: 0;
		top: 4.5rem;
		width: 100%;
		display: block;
		background-color: var(--bg-element);
		pointer-events: none;
		opacity: 0;
		transform: translateY(-20px);
		transition: all 0.3s ease-in;
		padding-bottom: 2rem;
		border-radius: 0 0 20px 20px;
	}
}
.megachips._active .megachips__list {
	@media (max-width: $tablet) {
		pointer-events: initial;
		opacity: 1;
		transform: translateY(0);
	}
}

.megachips__button {
	padding-top: 1.5625rem;
	padding-bottom: 1.1875rem;
	margin-right: 1.475rem;
	color: var(--c-accent);
	font-size: 1rem;
	font-style: italic;
	font-weight: 600;
	border-radius: 20px 20px 0 0;
	@media (max-width: $tablet) {
		display: block;
		margin-right: 0;
		padding-top: 0.42857142857142855rem;
		padding-right: 2.0714285714285716rem;
		padding-bottom: 0.42857142857142855rem;
		padding-left: 2.0714285714285716rem;
		text-align: left;
	}
}
.megachips__button._active {
	color: var(--c-text-regular);
	background-color: var(--bg-element);
	padding-left: 3.75rem;
	padding-right: 3.75rem;
	font-style: normal;
	position: relative;
	@media (max-width: $tablet) {
		text-align: left;
		padding-top: 0.42857142857142855rem;
		padding-right: 2.0714285714285716rem;
		padding-bottom: 0.42857142857142855rem;
		padding-left: 2.0714285714285716rem;
	}
}
.megachips__button._active::before,
.megachips__button._active::after {
	position: absolute;
	bottom: -5px;
	content: "";
	display: block;
	width: 70px;
  height: 32px;
	border-radius: 50%;
	@media (max-width: $tablet) {
		display: none;
	}
}
.megachips__button._active::before {
	right: -30px;
  background: radial-gradient(circle 30px at top left ,#0000 98%,#fff) top left, radial-gradient(circle 30px at top right,#0000 98%,#f6f6f6);
  transform: scaleX(-1);
}
.megachips__button._active::after {
	left: -30px;
  background: radial-gradient(circle 30px at top left ,#0000 98%,#fff) top left, radial-gradient(circle 30px at top right,#0000 98%,#f6f6f6);
  // background: radial-gradient(circle 30px at top left ,#0000 98%,#fff) top left, radial-gradient(circle 30px at top right,#0000 98%,#f6f6f6) top right, radial-gradient(circle 30px at bottom left ,#0000 98%,green) bottom left, radial-gradient(circle 30px at bottom right,#0000 98%,purple) bottom right;
}
.tabs__page:not(._active) {
	display: none;
}

.megachips__current {
	padding: 1.5714285714285714rem 2.142857142857143rem;
	background-color: var(--bg-element);
	border-radius: 20px 20px 0 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	align-items: center;
	font-style: normal;
	position: relative;

	@media (min-width: ($tablet)) {
		display: none;
	}
}
@media (max-width: $tablet) {
	.megachips__current::after {
		position: absolute;
		top: 1.25rem;//20px;
		right: 1.125rem;//18px;
		content: "";
		display: block;
		width: 1.25rem;//20px;
		height: 1.25rem;//20px;
		@include getmask("../img/common/slider-arrow-right.svg");
		background-color: var(--c-text-regular);
		transform: rotate(90deg);
		transition: var(--tr-regular);
	}
	.megachips__current::before {
		content: "";
		width: 0.75rem;//12px;
		height: 0.25rem;//4px;
		position: absolute;
		top: 1.6875rem;//27px;
		right: 1.375rem;//22px;
		background-color: var(--c-text-regular);
		transition: var(--tr-regular);
		opacity: 0;
		order: 3;
		border-radius: 2px;
	}
	.megachips._active .megachips__current::after {
		background-color: transparent;
	}
	.megachips._active .megachips__current::before {
		opacity: 1;
	}
}
