.single-jobs {
	background-color: #f4f5f6;
}

.single-jobs .hero__content {
	padding-bottom: 7rem;

	@media (max-width: $tablet) {
		padding-bottom: 3.3rem; // для пп.было 3.5
	}
}

.single-jobs .hero__title {
	font-size: 8rem;
	margin-bottom: 3rem;
	letter-spacing: normal;

	@media (max-width: $tablet) {
		font-size: 3.2rem;
		letter-spacing: -0.03em;
		margin-bottom: 1.3rem; // было 1.6
	}
}

