.single-blog {
	background-color: #f4f5f6;
}

.single-blog .hero {
	@media (min-width: $tablet + 1) {
		padding-top: 22rem;
	}
	@media (max-width: $tablet) {
		padding-bottom: 4.7rem;
	}
}

.single-blog .hero__content {
	padding-bottom: 6.9rem;

	@media (max-width: $tablet) {
		width: 100%;
	}
}

.single-blog .hero__title {
	@media (min-width: $tablet + 1) {
		font-size: 8rem;
		max-width: 89.9rem;
		margin-bottom: 3rem;
	}

	@media (max-width: $tablet) {
		margin-bottom: 1.6rem;
	}
}

.single-blog .hero__content-media {
	width: 78.1rem;
	transform: rotate(4.48deg);
  right: 16.3rem;
  bottom: -8.5rem;
  height: 49.2rem;

  @media (max-width: $tablet) {
  	height: 23rem;
  	width: 100%;
  	position: static;
    margin-top: -3.5rem;
  }
}
.single-blog .hero__content-pic {
	@media (max-width: $tablet) {
		transform: none;
		--mask: none;
		margin-bottom: 0;
	}
}

.single-blog .hero__content-img {
	object-fit: cover;
	border-radius: 9999rem;

	@media (max-width: $tablet) {
		border-radius: 9rem;
	}
}

.single-blog .hero__meta-bullet-icon {
	@media (max-width: $tablet) {
		--size: 1.6rem
	}
}

.single-blog .hero__meta-bullet-desc {
	@media (max-width: $tablet) {
		font-size: 1.3rem;
	}
}
