/*
  Секции
 */
.section {
  padding-top: 10rem;
  padding-bottom: 10rem;

  @media (max-width: $desktop-m) {
    padding-top: 6rem; //120
    padding-bottom: 6rem; //120
  }

  @media (max-width: $tablet) {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

.section .vertical-strings {
  z-index: 0;
}

.section-title {
  font-weight: 700;
  font-size: 8rem;
  font-family: var(--ff-title);
  margin-bottom: 8.7rem;
  letter-spacing: -0.03em;//-0.025em;
  line-height: 1;
  color: #333;

  @media (max-width: $tablet) {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom:  3rem;
    // margin-bottom:  2.5rem;
    text-align: center; 
  }
}

.section-desc {
  font-size: 2.5rem;
  line-height: initial;
  margin-bottom: 8rem;
  color: #000;

  @media (max-width: $tablet) {
    margin-bottom: 3rem;  
    font-size: 1.8rem;
    letter-spacing: initial;
  }
}
.section-desc br {
  @media (max-width: $tablet) {
    display: none;
  }
}
.section-title + .section-desc {
  margin-top: -5.7rem;

  @media (max-width: $tablet) {
    margin-top: -0.7rem;//-0.3rem;
    
  }
}

.section-text--color {
  color: var(--c-accent);
}
.section-text--em {
  font-style: italic;
}
.section-text--bold {
  font-weight: 700;
}

.section-text--center {
  text-align: center;
}
.section-text--right {
  text-align: right;
}
.section-text--curvy {
  position: relative;
  display: inline;
}
.section-text--curvy:after {
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  // background-image: url("../img/common/curve-2.svg");
  background-image: url("../img/common/underline.svg");
  background-repeat: repeat-x;
  background-position: center;
  position: absolute;
  top: 1.1em;
  left: 0;
  width: 100%;
  height: 1.7rem;
}



.section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-buttons--vertical {
  flex-direction: column;
}

.section-gallery {
  display: grid;
  gap: 3rem;
  margin-bottom: 4.7rem;

  @media (max-width: $tablet) {
    grid-template-columns: 100%;
    row-gap: 2rem;
    margin-bottom: 3rem;
  }
}

.section-gallery-9-3 {
  @extend .section-gallery;
  grid-template-columns: 3.15fr 1fr;
  align-items: start;

  @media (max-width: $tablet) {
    grid-template-columns: 100%;
  }
}

.section-gallery-double {
  @extend .section-gallery;

  @media (min-width: $tablet-m) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section-gallery-triple {
  @extend .section-gallery;

  @media (min-width: $tablet-m) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: $tablet + 1) {
    grid-template-columns: repeat(3, 1fr);
  }

}

.section-gallery-more {
  max-width: 23.4rem;
  width: 100%;
  --button-icon-color: #222;
  --button-icon-color-hover: #222;
  --icon-gap: 1.4rem;

  @media (max-width: $tablet) {
    max-width: 30rem;
  }
}

.is-sticky {
  position: sticky;
}