// Бургер
.burger {
  position: relative;
  width: var(--burger-width, 40px);
  height: var(--burger-height, 40px);
  transition: var(--tr);

  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: var(--line-width, 40%);
    height: var(--line-height, 2px);
    background: var(--c-burger-line, var(--c-text-regular));
    transition: var(--tr);
    // @media (min-width: 602px) and (max-width: 768px) {
    //   width: 50%;
    //   height: 4px;
    // }

    &:nth-child(1) {
      transform: translate(-50%, calc(-50% - 12px));
    }

    &:nth-child(2) {
      transform: translate(-50%, calc(-50% - 2px));
    }

    &:nth-child(3) {
      transform: translate(-50%, calc(-50% + 8px));
    }
  }

  &.is-active {
    & span {
      &:nth-child(1) {
        transform: translate(-50%, calc(-50% + 2px)) rotate(40deg);
      }

      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(3) {
        transform: translate(-50%, calc(-50% + 2px)) rotate(-40deg);
      }
    }
  }
}
