.burger {
  --line-width: 61.5%;
  --line-height: 3px;
  position: relative;
  width: var(--burger-width, 40px);
  height: var(--burger-height, 40px);
  transition: var(--tr);
}

.burger span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: var(--line-width, 40%);
  height: var(--line-height, 2px);
  background: var(--c-burger-line, var(--c-text-regular));
  transition: var(--tr);
  border-radius: 2rem;
  // @media (min-width: 602px) and (max-width: 768px) {
  //   width: 50%;
  //   height: 4px;
  // }
}

.burger span:nth-child(1) {
  transform: translate(-50%, calc(-50% - 12px));
}

.burger span:nth-child(2) {
  transform: translate(-50%, calc(-50% - 4px));
}

.burger span:nth-child(3) {
  transform: translate(-75%, calc(-50% + 3px));
  --line-width: 40%;
  // transform: translate(-50%, calc(-50% + 3px));
}

.burger.is-active span:nth-child(1) {
  transform: translate(-50%, calc(-50% - 4px)) rotate(45deg);
}
.burger.is-active span:nth-child(2) {
  width: 0;
}
.burger.is-active span:nth-child(3) {
  transform: translate(-50%, calc(-50% - 3px)) rotate(-45deg);
  --line-width: 61.5%;
}
