.blog-card {
	--padding-horizontal: 0;
	--brad: 1.7rem;
	display: grid;
	grid-template-columns: 37.5rem auto;
	column-gap: 3rem;
	row-gap: 2rem;
	padding-bottom: 0;

	@media (max-width: $tablet) {
		--image-height: 34rem;
		grid-template-columns: 100%;
	}

	@media (max-width: $mobile-l) {
		--image-height: 24rem;
	}
}

.blog-card__media {
	margin-bottom: 0;
	height: 100%;

	@media (max-width: $tablet) {
		height: var(--image-height);
	}
}

.blog-card__pic {
	transition: all 0.3s ease;
}
.blog-card--wide .blog-card__img {
	border-radius: var(--brad);
	object-fit: cover;
	object-position: center;
}
.blog-card--wide .blog-card__info {
	position: relative;
	z-index: 2;
	padding-top: 17.8rem;
	padding-bottom: 17.8rem;
	padding-left: 4.8rem;
	padding-right: 4.8rem;

	@media (max-width: $tablet) {
		padding: 20rem 1rem;
	}

	@media (max-width: $mobile-l) {
		padding: 13rem 1rem;
	}
}

.blog-card--wide .blog-card__title {
	color: #fff;
	text-align: center;
	font-size: 6rem;
	line-height: 1.2;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	min-width: 26rem;
	margin-bottom: 0;

	@media (max-width: $tablet) {
		font-size: 2.5rem;
	}
}

.blog-card--wide .blog-card__title .blog-card__link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.blog-card--wide .ans-card__author {
	display: none;
}
.blog-card--wide .blog-card__desc {
	display: none;
}

.blog-card--wide .blog-card__bottom {
	display: none;
}

.blog-card__img {
	border-radius: var(--brad) 0 0 var(--brad);

	@media (max-width: $tablet) {
		border-radius: var(--brad) var(--brad) 0 0;
	}
}

.blog-card__info {
	padding-top: 4rem;
	padding-right: 4.8rem;
	padding-bottom: 2.8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: $tablet) {
		padding: 0;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-bottom: 3.1rem;
	}
}

.blog-card__title {
	margin-bottom: 1.5rem;

	@media (max-width: $tablet) {
		margin-bottom: 1rem;
		line-height: 1.2;
		font-size: 2.5rem;
	}
}

.blog-card__desc {
	font-size: 1.8rem;

	@media (max-width: $tablet) {
		margin-bottom: 3.1rem;
		line-height: 1.3;
	}
}

.blog-card__bottom {
	display: flex;
	align-items: center;

	@media (max-width: $tablet) {
		flex-direction: column;
	}
}

.blog-card__button {
  --button-icon-bg-color: #fff;
  --button-icon-color: #000;

  max-width: 23.5rem;
	width: 100%;
	margin-right: 1.2rem;

	@media (max-width: $tablet) {
		margin-right: 0;
		margin-bottom: 1.4rem;
	}
}

.blog-card__meta {
	display: flex;
	align-items: center;
}
.blog-card__meta-img {
	--size: 1.4rem;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	margin-right: 0.5rem;
}
.blog-card__meta-desc {
	font-size: 1.6rem;
	color: #222;
}


.blog-card--wide {
	display: block;
	position: relative;
	grid-column-start: 1;
	grid-column-end: span 2;

	@media (max-width: $tablet) {
		grid-column-start: initial;
		grid-column-end: initial;
	}
}

.blog-card--wide .blog-card__media {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
	border-radius: var(--brad);
}
.blog-card--wide:hover .blog-card__pic {
	@media (any-hover:hover) {
		transform: scale(1.2);
	}
}
.blog-card--wide .blog-card__img {
	border-radius: var(--brad);
	object-fit: cover;
	object-position: center;
}

.blog-card--wide .blog-card__title {
	color: #fff;
	text-align: center;
	font-size: 6rem;
	line-height: 1.2;
	max-width: 65%;
	margin-left: auto;
	margin-right: auto;
	min-width: 26rem;
	margin-bottom: 0;

	@media (max-width: $tablet) {
		font-size: 2.5rem;
	}
}

.blog-card--wide .blog-card__title .blog-card__link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.blog-card--wide .ans-card__author,
.blog-card--wide .blog-card__desc,
.blog-card--wide .blog-card__bottom {
	display: none;
}

.blog-card--tall {
	grid-template-columns: 100%;
	background-color: #222;
	color: #fff;
	row-gap: 0;
	grid-row-end: span 2;
	text-align: center;

	@media (max-width: $tablet) {
		--image-height: 22rem;
		grid-column-start: initial;
		grid-column-end: initial;
	}
}

.blog-card--tall .blog-card__img {
	border-radius: var(--brad) var(--brad) 0 0;
}

.blog-card--tall .blog-card__info {
	padding: 8.8rem 13.1rem;

	@media (max-width: $tablet) {
		padding: 3rem 2.2rem;
	}
}

.blog-card--tall .ans-card__author {
	@media (max-width: $tablet) {
		margin-bottom: 1.4rem;
	}
}

.blog-card--tall .blog-card__title {
	@media (max-width: $tablet) {
		margin-bottom: 1.6rem;
	}
}

.blog-card--tall .blog-card__desc {
	color: inherit;

	@media (max-width: $tablet) {
		margin-bottom: 5rem;
	}
}


.blog-card--tall .blog-card__bottom {
	justify-content: center;
}
.blog-card--tall .blog-card__button {
  --button-icon-bg-color: #000;
  --button-icon-color: #fff;
  --button-bg: #fff;
  --button-color: #222;

  @media (max-width: $tablet) {
  	margin-bottom: 1.7rem;
  }
}

.blog-card--tall .blog-card__meta-desc {
	color: inherit;
}
