.card-regular {
  --padding-horizontal: 0rem;
  padding-bottom: 0;

  @media (max-width: $tablet) {
    --image-height: 28rem;
  }
}

.card-regular__media:only-child {
	margin-bottom: 0;
}

.card-regular__img {
	border-radius: var(--brad);
}
