.courses-card-skeleton {
	--image-height: 39.4rem;
	--padding-horizontal: 3rem;
	--category-color: var(--c-accent);
	--category-color-hover: #222;;
	--brad: 1.7rem;
	position: relative;
	background-color: #fff;
	border-radius: 1.7rem;
	padding-left: var(--padding-horizontal);
	padding-right: var(--padding-horizontal);
	padding-bottom: 3.2rem;
	transition: var(--tr-regular);
	color: #222;
	display: flex;
  flex-direction: column;
  justify-content: space-between;

	@media (max-width: $tablet) {
		--image-height: 22rem;
		--padding-horizontal: 2rem;
		padding-bottom: 2rem;	
	}
}
.courses-card-skeleton:last-child {
	@media (max-width: $tablet) {
		margin-bottom: 0;	
	}
}
.courses-card-skeleton__media {
	margin-left: #{'calc(0rem - var(--padding-horizontal))'};
	margin-right: #{'calc(0rem - var(--padding-horizontal))'};
	margin-bottom: 4rem;
	height: var(--image-height);
	background-color: #EBEBEB;

	@media (max-width: $tablet) {
		margin-bottom: 	1.9rem;
	}
}

.courses-card-skeleton__categories {
	position: relative;
	z-index: 3;
	margin-bottom: 0.5rem;
	background-color: #f5f5f5;
	display: block;
	height: 1rem;
	width: 30%;
}
.courses-card-skeleton__category {
	--link-color: var(--category-color);
	--link-color-hover: var(--category-color-hover)
}

.courses-card-skeleton__title {
	font-size: 3rem;
	height: 3rem;
	line-height: initial;
	margin-bottom: 1.6rem;
	font-family: var(--ff-title);
	font-weight: 700;
	letter-spacing: 0;
	background-color: #EEEEEE;

	@media (max-width: $desktop-s) {
		line-height: 	1.1;
	}

	@media (max-width: $tablet) {
		font-size: 	2.4rem;
		margin-bottom: 	1.5rem;
		line-height: 	initial;
	}
}
.courses-card-skeleton__desc {
	height: 1.2rem;
	background-color: #f5f5f5;
	background-size: 2.6rem 2.6rem;
	line-height: 	initial;
	line-height: 1.3;
	margin-bottom: 0.7rem;
}

.courses-card-skeleton__desc:nth-of-type(3) {
	width: 80%;
}
.courses-card-skeleton__desc:nth-of-type(4) {
	width: 60%;
	margin-bottom: 2rem;
}

.courses-card-skeleton__bullets {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 3.8rem;
	column-gap: 2rem;
	row-gap: 2rem;
	margin-top: auto;

	@media (max-width: $tablet) {
		// grid-template-columns: 100%;
		row-gap: 1.3rem;
		margin-bottom: 4.2rem;
	}
}
.courses-card-skeleton__bullet-title {
	display: block;
	font-weight: 400;
	font-size: 1.6rem;
	height: 1.9rem;
	background-color: #f5f5f5;
	line-height: 1.3;
	letter-spacing: -0.01em;
	width: 50%;
	margin-bottom: 0.5rem;

	@media (max-width: $tablet) {
		font-size: 1.4rem;
	}
}
.courses-card-skeleton__bullet-value {
	display: block;
	font-family: var(--ff-title);
	font-weight: 700;
	font-size: 2.5rem;
	height: 3rem;
	line-height: initial;
	letter-spacing: -0.01em;
	width: 70%;

	background-color: #f5f5f5;

	@media (max-width: $tablet) {
		font-size: 	2rem;
	}
}

.courses-card-skeleton__button {
	position: relative;
	z-index: 3;
	background-color: #C1C1C1;
	border-radius: 9999px;
	height: 5rem;
}

