.form {
	
}
.form__fieldset {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 1.5rem;
	margin-bottom: 3rem;
	padding-left: 0;
	padding-right: 0;
}
.form__hidden {
	display: none;
  appearance: none;
  visibility: hidden;
}