.page-nav {
	position: static;
	top: -1px;
	z-index: 10;
	margin-top: -1px;
	padding-top: 3.3rem;
	padding-bottom: 3.6rem;
	background-color: #191919;

	@media (max-width: $tablet) {
		padding-bottom: 5.6rem;
	}
}

.page-nav__container {
	@media (max-width: $tablet) {
		overflow: hidden;
		margin-bottom: -2rem;
		padding-left: 0;
		padding-right: 0;
	}
}

.page-nav__links {
	--mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 0.9rem, rgb(0, 0, 0) 1.8rem, rgb(0, 0, 0) calc(100% - 1.8rem), rgba(0, 0, 0, 0.25) calc(100% - 0.9rem), rgba(0, 0, 0, 0));
	display: flex;
	justify-content: flex-start;
	white-space: nowrap;
	overflow: auto;
	overflow-y: hidden;
	padding-right: 1.8rem;
	padding-left: 1.8rem;
	margin-bottom: -1.8rem;
  -webkit-mask-image: var(--mask);
  mask: var(--mask);
  flex-wrap: wrap;

  @media (min-width: $tablet + 1) {
		margin-left: -1.8rem;
		margin-right: -1.8rem;
  }

  @media (max-width: $tablet) {
  	flex-wrap: nowrap;
  	--mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 0.9rem, rgb(0, 0, 0) 1.9rem, rgb(0, 0, 0) calc(100% - 11.8rem), rgba(0, 0, 0, 0.25) calc(100% - 4.9rem), rgba(0, 0, 0, 0));
  }
}

.page-nav__link {
	font-size: 2.5rem	;
	--link-color: #FFFFFF;
	--link-underline: #5e5e5e;
	--link-color-hover: #E7AE44;
	--link-underline-hover: #4f4125;
	margin-right: 6.8rem;
	margin-bottom: 2rem;
	letter-spacing: normal;

	@media (max-width: $desktop-s) {
		margin-right: 5.8rem;
	}

	@media (max-width: $tablet) {
		font-size: 2rem;
		margin-right: 1.5em;
		font-family: var(--ff-regular);
	}

	@media (max-width: $mobile-l) {
		margin-right: 1em;
	}
	@media (max-width: 420px) {
		font-size: 2.2rem;
	}

	@media (max-width: 412px) {
		font-size: 2.1rem;
	}

	@media (max-width: 375px) {
		font-size: 1.9rem;
	}

	@media (max-width: 360px) {
		font-size: 2.2rem;
	}

	@media (max-width: 320px) {
		font-size: 2rem;
	}
}

.page-nav__link:last-child {
	margin-right: 0;

	@media (max-width: $tablet) {
		padding-right: 5rem;
	}
}
