.period-history-gallery {
	row-gap: 1.5rem;
}
.period-history-card {
	--card-fg: #222;
	--card-fg-caption: #87909E;
	padding: 3.8rem 4rem 4.5rem;
	display: grid;
	// grid-template-columns: 11.7rem 68.2rem 60.8rem;
	grid-template-columns: 7.36% 45.89% 38.24%;
	column-gap: 5rem;
	align-items: center;
	background: #F4F5F6;
	border-radius: 1.7rem;
	letter-spacing: initial;

	@media (max-width: $tablet) {
		grid-template-columns: 100%;
	}
}

.period-history-card__date {
	font-family: var(--ff-title);
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.2;
	color: var(--card-fg);
  margin-top: 0.75em;
}

.period-history-card__heading-suptitle {
	font-size: 1.6rem;
	line-height: 1.3;
	color: var(--card-fg-caption);
}

.period-history-card__heading-title {
	font-family: var(--ff-title);
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.2;
	color: var(--card-fg);
}

.period-history-card__body-suptitle {
	font-size: 1.6rem;
	line-height: 1.3;
	color: var(--card-fg-caption);
}

.period-history-card__body-title {
	font-family: var(--ff-title);
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.2;
	color: var(--card-fg);
}


.period-history-card .link {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}
.period-history-card .link:not(:hover) {
  --link-color: var(--card-fg);
  --link-underline-color: var(--card-fg);
}
