.bestseller {
	background-color: var(--c-accent);
}

.bestseller__gallery {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3rem;
	margin-bottom: 6.2rem;
}

.bestseller-card {
	padding: 5rem 5rem 4rem 5rem; 
	background-color: #fff;
	display: grid;
	grid-template-columns: auto minmax(28.4rem, 57.1rem);
	border-radius: 3rem;
	overflow: hidden;
	position: relative;
}
.bestseller-card__media {
	order: 1;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.bestseller-card__media:after {
	content: "";
	position: absolute;
	top: -28%;
	left: -16%;
	z-index: 1;
	display: block;
	width: 130%;
	height: 170%;
	border-radius: 47%;
	background-color: var(--c-text-regular);
}

.bestseller-card__pic {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
}
.bestseller-card__img {
	display: block;
	width: 100%;
	height: 100%;
}

.bestseller-card__title {
	font-size: 4rem;
	line-height: 1.45;
	font-family: var(--ff-title);
	margin-bottom: 1.4rem;
	color: #000;
}
.bestseller-card__desc {
	font-size: 2rem;
	line-height: 1.45;
	letter-spacing: -0.01em;
	color: #000;
	margin-bottom: 3rem;
}
.bestseller__bottom {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}
.bestseller-card__button {
	margin-right: 9rem;
	max-width: 24.9rem;
	width: 100%;
}

.bestseller-card__stats {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	padding-top: 0.8rem;
}
.bestseller-card__stat {
	margin-right: 5rem;
}
.bestseller-card__stat-title {
	font-weight: 400;
	font-size: 2rem;
	line-height: 145%;
	letter-spacing: -0.01em;
	color: #000000;
}
.bestseller-card__stat-value {
	font-family: var(--ff-title);
	font-weight: 700;
	font-size: 4rem;
	line-height: 145%;
	letter-spacing: -0.01em;
	color: #000000;
}

.bestseller__button {
	max-width: 50rem;
	width: 100%;
}