.bestseller {
	background-color: var(--c-accent);
	// padding-top: 	10rem;
	// padding-bottom: 10rem;
	@media (max-width: $tablet) {
		// padding-top: 3.5rem;	
		// padding-bottom: 3.5rem;	
	}
}

.bestseller__gallery {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3rem;
	margin-bottom: 6.2rem;

	@media (max-width: $tablet) {
		grid-gap: 	2rem;
		margin-bottom: 3rem;	
	}
}

.bestseller-card {
	padding: 5rem 5rem 4rem 5rem; 
	background-color: #fff;
	display: grid;
	grid-template-columns: auto minmax(28.4rem, 57.1rem);
	border-radius: 3rem;
	overflow: hidden;
	position: relative;

	@media (max-width: $tablet) {
		display: block;		
		padding-top: 0;	
		padding-left: 	2.9rem;
		padding-right: 	2.9rem;
		padding-bottom: 	2rem;
		border-radius: 2rem;
	}
}
.bestseller-card__media {
	order: 1;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;

	@media (max-width: $tablet) {
		position: relative;	
		top: 	unset;
		right: 	unset;
		order: 	initial;
		height: initial;
		margin-left: -2.9rem;	
		margin-right: -2.9rem;	
		margin-bottom: 	2.4rem;
    height: 14.7rem;
    width: auto;
		clip-path: ellipse(75% 95% at 50% 5%);
		-webkit-clip-path: ellipse(75% 95% at 50% 5%);
	}
}
.bestseller-card__media:after {
	content: "";
	position: absolute;
	top: -28%;
	left: -16%;
	z-index: 1;
	display: block;
	width: 130%;
	height: 170%;
	border-radius: 47%;
	background-color: var(--c-text-regular);

	@media (max-width: $tablet) {
		width: 100%;	
		height: 100%;	
		left: 0;
		top: 0;
		border-radius: 0;
	}
}

.bestseller-card__pic {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
}
.bestseller-card__img {
	display: block;
	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: top;
}

.bestseller-card__title {
	font-size: 4rem;
	line-height: 1.45;
	font-family: var(--ff-title);
	margin-bottom: 1.4rem;
	color: #000;

	@media (max-width: $tablet) {
		font-size: 	2.4rem;
		line-height: initial;
		margin-bottom: 1.5rem;	
	}
}
.bestseller-card__desc {
	font-size: 2rem;
	line-height: 1.45;
	letter-spacing: -0.01em;
	color: #000;
	margin-bottom: 3rem;

	@media (max-width: $tablet) {
		font-size: 	1.6rem;
		line-height: 1.38;	
		margin-bottom: 2rem;	
	}
}
.bestseller__bottom {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;

	@media (max-width: $tablet) {
		flex-direction: column-reverse;
	}
}
.bestseller-card__button {
	margin-right: 9rem;
	max-width: 24.9rem;
	width: 100%;

	@media (max-width: $tablet) {
		margin-right: 	0;
		display: flex;
	}
}
.bestseller-card__button .button__icon {
	@media (max-width: $tablet) {
		display: none;	
	}
}

.bestseller-card__stats {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	padding-top: 0.8rem;

	@media (max-width: $tablet) {
		margin-top: 0;	
		display: grid;	
		grid-template-columns: 1fr 1fr;
		column-gap: 1.5rem;
		row-gap: 1.5rem;
		margin-bottom: 3rem;	
		width: 100%;	
		padding-top: 0;
	}
}
.bestseller-card__stat {
	margin-right: 5rem;

	@media (max-width: $tablet) {
		margin-right: 0;	
	}
}
.bestseller-card__stat-title {
	font-weight: 400;
	font-size: 2rem;
	line-height: 145%;
	letter-spacing: -0.01em;
	color: #000000;

	@media (max-width: $tablet) {
		font-size: 1.6rem;
	}
}
.bestseller-card__stat-value {
	font-family: var(--ff-title);
	font-weight: 700;
	font-size: 4rem;
	line-height: 145%;
	letter-spacing: -0.01em;
	color: #000000;

	@media (max-width: $tablet) {
		font-size: 	2rem;
	}
}

.bestseller__button {
	max-width: 50rem;
	width: 100%;

  @media (max-width: $tablet) {
    padding-left:   2.25rem;
    padding-right:  2.25rem;
  }
  @media (max-width: $mobile-l) {
    justify-content: space-between; 
  }
}

