.bullets-list {
	background-color: #f8f8f8;

	@media (min-width: $tablet + 1) {
		padding-bottom: 10.2rem;
	}
	
	@media (max-width: $mobile-l) {
		padding-bottom: 3.7rem;
		
	}
}

.bullets-list__title {
	@media (max-width: $tablet) {
		text-align: left;
		line-height: 1.25;
	}

	@media (min-width: $tablet + 1) {
		margin-bottom: 7.4rem;
		line-height: 1.2;
	}

	@media (max-width: $mobile-l) {
		letter-spacing: normal;
	}
}

.bullets-list-gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;

	@media (max-width: $tablet) {
		grid-template-columns: 100%;
		gap: 1.6rem;
	}

	@media (max-width: $mobile-l) {
		gap: 2.1rem;
	}
}

.bullets-list-card {
	display: grid;
	grid-template-columns: 12rem auto;
	column-gap: 2rem;

	@media (min-width: $tablet + 1) {
		align-items: end;
	}

	@media (max-width: $tablet) {
		grid-template-columns: 5rem auto;
	}
}
.bullets-list-card__title {
	font-weight: 700;
	font-size: 3rem;
	line-height: initial;
	color: #000000;
	margin-bottom: 1rem;

	@media (max-width: $tablet) {
		font-size: 2rem;		
	}
}
.bullets-list-card__desc {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: initial;
	color: #000000;

	@media (max-width: $tablet) {
		letter-spacing: 0;
	}

	@media (max-width: $mobile-l) {
		line-height: 1.15;
	}
}

.bullets-list-card__img {
	width: 100%;
}