.courses {
	padding-top: 6rem;
	padding-bottom: 5rem;

	@media (max-width: $tablet) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.courses__gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 3rem;
	row-gap: 3rem;

	@media (max-width: $tablet) {
		grid-template-columns: 100%;
		row-gap: 2rem;
	}
}

