.course-programm {
	background-color: #f8f8f8;
}

.course-programm__title {
	@media (max-width: $tablet) {
		max-width: 80%;
		margin-left: 0;
		text-align: left;
		line-height: initial;
	}
}

.course-programm-module {
	display: grid;
	grid-template-columns: 88rem auto;
	column-gap: 6.3rem;
	padding-bottom: 5rem;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 5rem;

	@media (max-width: $tablet) {
		grid-template-columns: 58rem auto;
	}

	@media (max-width: 810px) {
		padding-bottom: 2.5rem;
		margin-bottom: 2.5rem;
		grid-template-columns: 100%;
	}

	@media (max-width: $mobile-l) {
		padding-bottom: 1.5rem;
    margin-bottom: 2rem;
	}
}

.course-programm-module:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.course-programm-module__info {
	padding-top: 1.3rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;

	@media (max-width: $tablet) {
		padding-top: 0.6rem;
	}
}

.course-programm-module__summary {
	flex-basis: 35%;

	@media (max-width: $tablet) {
		flex-basis: 100%;
		margin-bottom: 2rem;
	}
}

.course-programm-module__title {
	font-family: var(--ff-regular);
	font-weight: 700;
	font-size: 3rem;
	line-height: initial;
	margin-bottom: 0.9rem;
	color: #222;

	@media (max-width: $tablet) {
		font-size: 2.5rem;
	}

	@media (max-width: $mobile-l) {
		letter-spacing: normal;
	}
}

.course-programm-module__desc {
	font-size: 1.8rem;

	@media (max-width: $tablet) {
		font-size: 1.6rem;
	}
}


.course-programm-moudle__lessons {
	flex-basis: 54%;
	list-style: none;
	counter-reset: lessons;

	@media (max-width: $tablet) {
		flex-basis: 100%;
		margin-bottom: 3.5rem;
	}
}
.course-programm-module__lesson {
	--pl: 7.2rem;
	padding-left: var(--pl);
	counter-increment: lessons;
	position: relative;
	font-size: 1.8rem;
	margin-bottom: 2rem;

	@media (max-width: $tablet) {
		--pl: 6.6rem;
		font-size: 1.6rem;
		line-height: 1.1;
		letter-spacing: initial;
	}
}
.course-programm-module__lesson:only-child,
.course-programm-module__lesson:last-child {
	margin-bottom: 0;
}
.course-programm-module__lesson::before {
	content: counter(lessons) " урок";
	position: absolute;
	left: -0.2rem;
	font-weight: 700;

	@media (max-width: $tablet) {
		left: 0;
	}
}


.crourse-programm-module__bullets {
	flex-basis: 100%;
	align-items: end;
	display: flex;

	@media (max-width: $tablet) {
		flex-direction: column;
	}
}

.course-programm-module__bullet {
	display: flex;
	align-items: center;
	padding-right: 3rem;
	flex-basis: 46.3%;
	width: 100%;

	@media (max-width: $tablet) {
		flex-basis: 100%;
		padding-right: 0;
		margin-bottom: 2rem;
	}
}
.course-programm-module__bullet-pic {
	--size: 3.5rem;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	margin-right: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	
	@media (max-width: $tablet) {
		--size: 3rem;
	}
}

.course-programm-module__bullet-img {
	width: 80%;
	height: 80%;
}

.course-progrmam-module__bullet-desc {
	font-size: 1.8rem;
	letter-spacing: initial;

	@media (max-width: $tablet) {
		font-size: 1.6rem;
		
	}
}


.course-programm-module__img {
	width: 100%;
}