.faq__title {
	line-height: initial;
	margin-bottom: 6rem;
}

.faq-card {
	margin-bottom: 2rem;
}
.faq-card:last-child {
	margin-bottom: 0;
}
.faq-card__head {
	padding: 3.6rem 5rem;
	background-color: #f4f5f6;
	border-radius: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.faq-card__title {
	font-size: 3.5rem;
	line-height: 1.2;
	color: #000;
	font-weight: 400;
	max-width: 80%;
}

.faq-card__body {
	padding: 3.4rem 5rem 6.5rem;
}


.faq-card__contnet p {
	font-size: 2.5rem;
	line-height: 1.2;
	margin-bottom: 1.5em;
}
.faq-card__contnet *:last-child {
	margin-bottom: 0;
}
