.features__title {

	@media (min-width: $tablet + 1) {
		margin-bottom: 7.8rem;
	}
	
	@media (max-width: $tablet) {
		text-align: left;
		line-height: 1.3;
	}
}

.features-card {
	display: grid;
	grid-template-columns: 91.7rem 64.4rem;
	gap: 3rem;
	align-items: center;
	margin-bottom: 4.3rem;

	@media (max-width: $desktop-s) and (min-width: $tablet + 1) {
		grid-template-columns: 81.7rem 64.4rem;
	}
	
	@media (max-width: $tablet) {
		grid-template-columns: 100%;
		gap: 2rem;
		margin-bottom: 3rem;
	}
	@media (max-width: $mobile-l) {
		margin-bottom: 2.9rem;
	}
}

.features-card:last-child {
	margin-bottom: 0;
}

// .features-card:nth-child(1) .section-text--color,
.features-card:nth-child(3n+1) .section-text--color {
	color: #C1F03C;
}

.features-card:nth-child(3n+2) .section-text--color {
	color: #747FF6;
}

.features-card__media {
	border-radius: 3rem;

	@media (max-width: $tablet) {
		height: 50.4rem;
	}
	@media (max-width: $tablet-m) {
		height: 38.4rem;
	}
	@media (max-width: $mobile-l) {
		height: 18.4rem;
		border-radius: 1.5rem;
	}
}

.features-card__pic {
	border-radius: inherit;
	height: 100%;
	width: 100%;
}

.features-card__img {
	border-radius: inherit;
	width: 100%;
	height: 100%;

	@media (max-width: $tablet) {
		object-fit: cover;
	}
}

.features-card__desc {
	font-size: 5rem;

	@media (max-width: $tablet) {
		font-size: 2.5rem;
		letter-spacing: 0;
		line-height: 1.25;
	}

	@media (min-width: $tablet + 1) {
		letter-spacing: normal;
	}

	@media (max-width: $mobile-l) {
		line-height: 1.3;
	}
}