.hero {
	position: relative;
  padding-top: 5.2rem;
	background-color: var(--bg-dark);
	color: var(--c-text-on);
	overflow: hidden;
	min-height: 59.3rem;
	display: flex;
	flex-direction: column;
	align-items: start;

	@media (max-width: $tablet) {
		padding-top: 9.2rem;
		min-height: initial;
	}
}

.hero__title {
	margin-top: 0;
	margin-bottom: 0;
	font-family: var(--ff-title);
	font-size: 11rem;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: -0.03em;
	color: var(--c-text-on);

	@media (max-width: $tablet) {
		text-align: left;
		font-size: 3.2rem;	
		margin-bottom: 	0;
		line-height: 1.2;
	}
}

.hero__desc {
	margin-bottom: 4rem;
	font-size: 1.6rem;
	line-height: 1.4;
	letter-spacing: normal;
	max-width: 64rem;

	@media (max-width: $tablet) {
		margin-bottom: 2rem;
		letter-spacing: -0.02em;
		line-height: 1.35;
	}

	@media (max-width: $mobile-l) {
		letter-spacing: normal;
	}
}

.hero__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	margin-top: auto;

	@media (max-width: $tablet) {
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
	}
}

.hero__content {
	grid-area: offer;
	padding-bottom: 8rem;

	@media (max-width: $tablet) {
		padding-bottom: 0;
	}
}
.hero__content:only-child {
	max-width: 100%;
}

.hero__content-media {
	height: 55rem;
	padding-right: 20.8rem;
	margin-top: -1rem;
	position: relative;
	z-index: 11;
	pointer-events: none;

	@media (max-width: $tablet) {
		height: auto;
		padding-right: 0;
		position: static;
		z-index: initial;
	}

	@media (min-width: $mobile-l + 1) and (max-width: $tablet) {
	  height: 23rem;
	  margin-left: auto;
	  margin-top: -10rem;
	  margin-bottom: -2rem;
	}
}

.hero--image-right .hero__content-media {
	@media (min-width: $tablet + 1) {
		position: absolute;
		right: 0;
		bottom: 0;
		padding-right: 0;
		height: 60rem;
	}
	@media (max-width: $tablet) {
	}
}
.hero--image-right .hero__content-pic {
	@media (max-width: $tablet) {
		transform: scale(1.5) translate(1.8rem, 0.1rem);
    margin-bottom: -0.5rem;
    --mask: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 0.3rem, rgb(0, 0, 0) 1.8rem, rgb(0, 0, 0) calc(100% - 1.8rem), rgba(0, 0, 0, 0.25) calc(100% - 0.9rem), rgba(0, 0, 0, 0));
	  mask: var(--mask);
	  -webkit-mask-image: var(--mask);
	}
}

.hero__content-pic {
	width: 100%;
	height: 100%;

	@media (max-width: $tablet) {
    transform: translate(2.7rem, -0.4rem);
    margin-bottom: -2.1rem;
	}
}
.hero__content-img {
	height: 100%;
	width: 100%;
	object-position: right;
}

.hero__content-media-desc {
	font-size: 1.8rem;
	line-height: 1.3;
	letter-spacing: -0.02em;
	position: absolute;
  right: 14.6rem;
  bottom: 1.6rem;
  pointer-events: all;

  @media (max-width: $tablet) {
  	font-size: 1.4rem;
  	right: unset;
  	bottom: 2.6rem;
  }
}
.hero__content-link {
  --link-color: #b2b2b2;
  --link-color-hover: var(--c-accent);
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.hero__content-link .link__text {
	border-bottom: none;
}

.hero__content-link br {
	@media (min-width: $tablet + 1) {
		display: none;
	}
}

.hero__bullets {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 6.5rem;
	margin-top: auto;

	@media (max-width: $tablet) {
		margin-bottom: 3rem;
	}
}
.hero__bullet {
	margin-right: 4.4rem;

	@media (max-width: $tablet) {
		margin-right: 2.4rem;
		margin-bottom: 1.5rem;
	}
}
.hero__bullet:last-child {
	margin-bottom: 0;
	margin-right: 0;
}

.hero__bullet-title {
	display: block;
	margin-bottom: 0.8rem;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.3;
	letter-spacing: -0.01em;
	color: #909090;

	@media (max-width: $tablet) {
		font-size: 1.4rem;
		margin-bottom: 0.1rem;
	}
}

.hero__bullet-value {
	display: block;
	font-family: var(--ff-title);
	font-weight: 700;
	font-size: 4rem;
	line-height: initial;
	letter-spacing: -0.01em;

	@media (max-width: $tablet) {
		font-size: 	2rem;
	}
}

.hero__bullet:last-child .hero__bullet-value {
	@media (max-width: $tablet) {
		font-size: 3rem;
	}
}

.hero__meta {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.hero__meta-bullet {
	display: flex;
	align-items: center;
	margin-right: 2rem;
}

.hero__meta-bullet:last-child {
	margin-right: 0;
}

.hero__meta-bullet-icon {
	--size: 2.1rem;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	margin-right: 0.5rem;
	--icon-color: #fff;
}

.hero__meta-bullet-desc {
	font-size: 1.6rem;
	line-height: 1.3;

	@media (max-width: $tablet) {
		font-size: 1.4rem;
		letter-spacing: normal;
	}
}

.hero__meta-bullet-desc + .hero__meta-bullet-icon {
	margin-left: 1rem;
}
