.hero-course {
	padding-top: 18rem;
	padding-bottom: 5.6rem;//7.1rem;

	@media (max-width: $tablet) {
		padding-top: 9rem;
		padding-bottom: 3.4rem;
	}
}
.hero-course .hero__container {
	width: 100%;
	display: grid;
	grid-template-columns: var(--regular-column-left) auto;
	grid-template-areas: "offer media" "offer meta";
	column-gap: 1.5rem;
	align-items: start;

	@media (max-width: $tablet) {
		grid-template-columns: 100%;
		grid-template-areas: 'media' 'offer' 'meta';
	}
}
.hero-course .hero__content {
	padding-bottom: 0;
}

.hero-course .breadcrumbs {
	margin-bottom: 2rem;

	@media (max-width: $tablet) {
		margin-bottom: 3rem;
		padding-left: 1.8rem;
		padding-right: 1.8rem;
	}
}
.hero-course .breadcrumbs__list {
	@media (min-width: $tablet + 1) {
		margin-left: -1.8rem;
	}
	@media (max-width: $tablet) {
		margin-right: 0;
		margin-left: 0;
	}
}

.hero-course__title {
	margin-top: 0;
	margin-bottom: 2rem;
	font-size: 8rem;
	line-height: 1.2;

	@media (max-width: $tablet) {
		font-size: 3.2rem;
		text-align: left;
		margin-bottom: 1.8rem;
	}
}

.hero-course__button {
	max-width: 37.5rem;
	width: 100%;

	@media (max-width: $tablet) {
		max-width: 100%;
		width: 100%;
	}
}

.hero-course__content {
	@media (max-width: $tablet) {
		margin-bottom: 3.3rem;
	}
}
.hero-course__content-media {
	grid-area: media;
	transform: translateY(-5rem);
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 1;
	border-radius: 2.7rem;

	@media (max-width: $tablet) {
		height: 32rem;
		border-radius: 1.7rem;
		transform: none;
		margin-bottom: 3rem;
	}

	@media (max-width: $mobile-l) {
		height: 22rem;
	}
}
.hero-course__content-pic,
.hero-course__content-img {
	width: inherit;
	height: inherit;
	object-fit: cover;
	border-radius: inherit;

	@media (max-width: $tablet) {
		object-position: top;
	}
}

.hero-course__meta {
	position: relative;
	z-index: 2;
	grid-area: meta;
	margin-top: -12.4rem;
	display: grid;
	justify-self: center;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	max-width: 61.3rem;
	width: 100%;
	padding: 2rem;
	border-radius: 2rem;
	background-color: #fff;
	color: #222222;
	
	@media (max-width: $tablet) {
		grid-template-columns: 100%;
		margin-top: unset;
	}
}

.hero-course__meta-card {
	display: grid;
	grid-template-columns: 7.7rem auto;
	column-gap: 1.7rem;
	position: relative;
}

.hero-course__meta-card-media {
	border-radius: 1.5rem;
}

.hero-course__meta-card-pic {
	border-radius: inherit;
}

.hero-course__meta-card-img {
	width: 100%;
	border-radius: inherit;
}

.hero-course__meta-card-suptitle {
	color: #909090;
	font-size: 1.4rem;
}

.hero-course__meta-card-title {
	margin-bottom: 1rem;
	font-size: 2rem;

	@media (max-width: $tablet) {
		font-size: 1.8rem;
	}
}

.hero-course__meta-card-link {
	font-size: inherit;
	transition: var(--tr-regular);
	--link-color: #222;
	--link-underline-color: #bdbdbd;
}
.hero-course__meta-card-link:hover {
	@media (any-hover:hover) {
		--link-color: var(--c-accent);
	}
}
.hero-course__meta-card-link:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.hero-course__meta-card-subtitle {
	color: #909090;
	font-size: 1.4rem;
}
