.professions {
	padding-top: 6rem;
	background-color: #f8f8f8;

	@media (max-width: $tablet) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.professions__gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 3rem;
	row-gap: 3rem;
	margin-bottom: 6.1rem;

	@media (max-width: $tablet) {
		grid-template-columns: 100%;
		row-gap: 2rem;
		margin-bottom: 3rem;
	}
}
