.resume {
	background-color: #f8f8f8;
	overflow: hidden;
	padding-bottom: 14rem;

	@media (max-width: $tablet) {
		padding-bottom: 4.75rem;
	}
}

.resume__title {
	line-height: 1.2;

	@media (max-width: $tablet) {
		text-align: left;
	}

	@media (min-width: $tablet + 1) {
		margin-bottom: 8rem;
	}
}