.reviews {
	padding-bottom: 2.5rem;

}
.reviews__top {
	overflow: hidden;
	width: #{'calc(100% + 2rem)'};
	max-height: 195rem;
}
.reviews__gallery {
	column-count: 2;
	padding-top: 8rem;
	width: #{'calc(100% - 4rem)'};
}
.reviews-card {
	break-inside: avoid;
}

.reviews__hearth {
	position: relative;
	max-width: 80.2rem;
	min-height: 53.9rem;
	padding-top: 12rem;
	margin-top: -8rem;
	margin-bottom: 17.3rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.reviews__hearth:before {
	content: "";
	position: absolute;
	left: -5%;
	top: -1%;
	z-index: -2;
	display: block;
	width: 110%;
	height: 110%;
	background-image: url("../img/reviews/hearth-outline.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.reviews__hearth:after {
	content: "";
	position: absolute;
	left: -10%;
	top: -7%;
	z-index: -2;
	display: block;
	width: 120%;
	height: 120%;
	background-image: url("../img/reviews/hearth-outline.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.reviews__title {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3.2rem;
}
.reviews__title:after {
	content: "";
	position: absolute;
	left: 0;
	top: 4%;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../img/reviews/hearth-bg.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.reviews__desc {
	max-width: 45%;
	margin-left: auto;
	margin-right: auto;
	font-weight: 500;
	font-size: 2rem;
	line-height: 120%;
	text-align: center;
	letter-spacing: -0.03em;
}

.reviews-card {
	margin-right: -10%;
	margin-bottom: 7.6rem;
}
.reviews-card--second-half {
	max-width: 82%;
	margin-left: auto;
	margin-right: 0;
}
.reviews-card--has-video {
	transform: rotate(3deg);
	margin-right: -2rem;
	padding-top: 3.6rem;
}
.reviews-card__highlight {
	font-size: 5rem;
	line-height: 1.1;
	font-family: var(--ff-title);
	margin-bottom: 2rem;
	letter-spacing: -0.06em;
}

.reviews .link {
  --link-color: var(--c-accent);
  --link-color-hover:  var(--c-accent-active);
  --link-underline-color: var(--c-accent);
  --link-underline-color-hover: var(--c-accent-active);
  margin-bottom: 4.2rem;
  font-size: 2rem;
}

.reviews-card__profile {
	display: grid;
	grid-template-columns: 13.5rem auto;
	column-gap: 2.4rem
}
.reviews-card--has-video .reviews-card__profile {
	padding-left: 0.7rem;
}

.reviews-card__profile-media {
	position: relative;
	width: 100%;
	height: 13.2rem;
}
.reviews-card__profile-pic {
	width: 100%;
	height: 100%;
}
.reviews-card__profile-img {
	border-radius: 4rem;
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}
.reviews-card__profile-info {
	padding-top: 2rem;
}
.reviews-card__profile-name {
	font-size: 2rem;
	margin-bottom: 0.5rem;
}
.reviews-card__profile-desc {
	font-size: 1.6rem;
}
.reviews-card__profile-desc .link {
	display: inline;
}
.reviews-card__socials {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	justify-content: flex-end;
}


.reviews-card__video {
	position: relative;
	margin-bottom: 5.5rem;
}
.reviews-card__video-play {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 12.4rem;
}
.reviews-card__video-play-button {
	width: 14.4rem;
	height: 14.4rem;
}
.reviews-card__video-cover-img {
	border-radius: 5.7rem;
}

.reviews__bottom {
  position: relative;
  margin-top: -52rem;
	padding-top: 40rem;
	background: linear-gradient(360deg, #FFFFFF 19.92%, rgba(255, 255, 255, 0) 100%);
}
.reviews__buttons {
	transform: translateY(-4.7rem);
}
.reviews__button-more {
	margin-bottom: 1.8rem;
	max-width: 50rem;
	width: 100%;
}