.students-studios {
	@media (max-width: $tablet) {
		overflow: hidden;
	}
	@media (min-width: $tablet + 1) {
		padding-bottom: 14.4rem;
	}
}
.students-studios__title {
	line-height: initial;
	margin-bottom: 8rem;

	@media (max-width: $tablet) {
		text-align: left;
		margin-bottom: 3.75rem;
	}
}

.students-studios__title br {
	@media (max-width: $tablet) {
		display: none;
	}
}

.students-studios-card {
	display: grid;
	grid-template-columns: #{'calc(var(--regular-column-left) - 3rem)'} auto;
	column-gap: 4.3rem;
	color: #222;
	margin-bottom: 7rem;

	@media (max-width: $tablet) {
		grid-template-columns: 100%;
		text-align: center;
		margin-bottom: 5.3rem;
	}
}

.students-studios-card:last-child {
	margin-bottom: 0;
}

.students-studios-card__media {
	position: relative;
	height: 48.6rem;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: $tablet + 1) {
		margin-top: 3rem;
	}

	@media (max-width: $tablet) {
		height: 44.5rem;
		margin-bottom: 1.8rem;
	}
	@media (max-width: $mobile-l) {
		height: 16.2rem;
	}
}

.students-studios-card:nth-child(odd) .students-studios-card__media {

	@media (max-width: $tablet) {
	}
}

.students-studios-card__media:before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: block;
	z-index: 1;
}

.students-studios-card:nth-child(odd) .students-studios-card__media:before {
  top: -9.7rem;
	right: -2.9rem;
	background-image: url("../img/course/figure-circle.svg");
	width: 12.5rem;
	height: 14.5rem;

	@media (max-width: $tablet) {
    top: -3.4rem;
    right: -4.4rem;
    width: 9.5rem;
    height: 9.7rem;
	}
}

.students-studios-card:nth-child(even) .students-studios-card__media:before {
	top: -6.3rem;
  left: -9.5rem;
	background-image: url("../img/course/figure-triangle.svg");
	width: 21.7rem;
	height: 21.7rem;

	@media (max-width: $tablet) {
		top: -4.4rem;
    left: -4.5rem;
    width: 10.7rem;
    height: 10.7rem;
	}
}

.students-studios-card__pic {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 2;
	transform: rotate(-3deg);

	@media (max-width: $tablet) {
		transform: none;
	}
}
.students-studios-card__img {
	height: 100%;
	width: 100%;
}

.students-studios-card__info {
	@media (min-width: $tablet + 1) {
		letter-spacing: normal;
	}
}

.students-studios-card__title {
	line-height: initial;
	font-size: 6rem;
	margin-bottom: 2rem;

	@media (max-width: $tablet) {
		font-size: 2.5rem;
		line-height: initial;
		margin-bottom: 1rem;
	}
}
.students-studios-card__desc {
	font-size: 3rem;
	line-height: initial;
	margin-bottom: 11.5rem;

	@media (max-width: $tablet) {
		font-size: 2rem;
		margin-bottom: 3rem;
	}
}

.students-studios-card__stats {
	display: grid;
	grid-template-columns: 21.5rem auto;
	column-gap: 4.9rem;
	
	@media (max-width: $tablet) {
		grid-template-columns: 100%;
	}
}
.students-studios-card__stat-title {
	font-size: 6rem;
	margin-bottom: 1.5rem;
	font-weight: 700;
	line-height: initial;

	@media (max-width: $tablet) {
		font-size: 4.5rem;
		margin-bottom: 1.2rem;
	}
}

.students-studios-card__stat-students {
	display: flex;
	align-items: center;
	margin-bottom: 1.5rem;

	@media (max-width: $tablet) {
		justify-content: center;
	}
}

.students-studios-card__stat-students-pic {
	--size: 7.3rem;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	border-radius: 99999px;
	border: 1px solid #222;
	margin-right: -5rem;

	@media (max-width: $tablet) {
		--size: 5rem;
		margin-right: -2.7rem;
	}
}

.students-studios-card__stat-students-img {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.students-studios-card__stat-students-count {
	--size: 7.3rem;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	border-radius: 99999px;
	border: 1px solid #222;
	background-color: #222;
	color: #fff;
	font-size: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;

	@media (max-width: $tablet) {
		--size: 5rem;
		font-size: 2rem;
	}
}

.students-studios-card__stat-desc {
	font-size: 2rem;
	line-height: initial;
	max-width: 24rem;

	@media (max-width: $tablet) {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2rem;
		font-size: 1.6rem;
		letter-spacing: normal;
		max-width: 70%;
	}
}

.students-studios-card:last-child  .students-studios-card__stat:last-of-type .students-studios-card__stat-desc {
	@media (max-width: $tablet) {
		margin-bottom: 0;
	}
}
