.students-works {
	background-color: var(--c-accent);
}
.students-works__gallery {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas: "w1 w1 w1 w1 w1 w1 w1 h h h h h"
											 "w1 w1 w1 w1 w1 w1 w1 h h h h h"
											 "w1 w1 w1 w1 w1 w1 w1 w3 w3 w3 w3 w3"
											 "w2 w2 w2 w2 w2 w2 w2 w3 w3 w3 w3 w3"
											 "w2 w2 w2 w2 w2 w2 w2 w3 w3 w3 w3 w3"
											 "w4 w4 w4 w4 w4 w4 w4 w4 w4 w4 w4 w4"
											 "w4 w4 w4 w4 w4 w4 w4 w4 w4 w4 w4 w4"
											 "w4 w4 w4 w4 w4 w4 w4 w4 w4 w4 w4 w4"
											 "w5 w5 w5 w5 w6 w6 w6 w6 w7 w7 w7 w7"
											 "w5 w5 w5 w5 w6 w6 w6 w6 w7 w7 w7 w7"
											 ;
	 column-gap: 3rem;
	 row-gap: 3rem;
}
.students-works__heading {
	grid-area: h;
	padding-top: 6rem;
  padding-left: 3rem;
  padding-bottom: 1.7rem;
}

.stutents-works-card {
	position: relative;
}

.stutents-works-card:nth-of-type(1) {
	grid-area: w1;
}
.stutents-works-card:nth-of-type(2) {
	grid-area: w2;
}
.stutents-works-card:nth-of-type(3) {
	grid-area: w3;
}
.stutents-works-card:nth-of-type(4) {
	margin-top: 1.8rem;
	margin-bottom: 1.8rem;
	grid-area: w4;
}
.stutents-works-card:nth-of-type(5) {
	grid-area: w5;
}
.stutents-works-card:nth-of-type(6) {
	grid-area: w6;
}
.stutents-works-card:nth-of-type(7) {
	grid-area: w7;
}

.students-works-card__zoom {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.students-works-card__play {
  transform: rotate(4deg);
}
.students-works-card__play .section__icon {
  transform: scale(1.3);
}

.students-works__gallery {
	margin-bottom: 3.6rem;
}
.students-works__button-more {
	max-width: 50rem;
	width: 100%;
}