.ways {
	padding-bottom: 7.9rem;

	@media (max-width: $tablet) {
		padding-bottom: 3.5rem;	
	}
}

.ways__gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 3rem;
	row-gap: 3rem;

	@media (max-width: $tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: $mobile-l) {
		display: block;
	}
}


.ways-card {
	--padding-horizontal: 4rem;
	--brad: 1.8rem;
	position: relative;
	background-color: var(--bg-element);
	border-radius: 1.8rem;
	padding-left: var(--padding-horizontal);
	padding-right: var(--padding-horizontal);
	padding-bottom: 3.1rem;
	transition: var(--tr-regular);
	color: #000;

	@media (max-width: $tablet) {
		--padding-horizontal: 3.2rem;
		--brad: 1.5rem;
		padding-bottom: 3.4rem;	
	}
	@media (max-width: $mobile-l) {
		margin-bottom: 2rem;
	}
}

.ways-card:last-child {
	@media (max-width: $tablet) {
		margin-bottom: 0;	
	}
}

.ways-card:hover {
	@media (any-hover:hover) {
		background-color: var(--c-accent);
	}
}

.ways-card__media {
	margin-left: #{'calc(0rem - var(--padding-horizontal))'};
	margin-right: #{'calc(0rem - var(--padding-horizontal))'};
	margin-bottom: 3.2rem;
	height: 29.8rem;

	@media (max-width: $tablet) {
		margin-bottom: 	3.5rem;
		height: 30.8rem;
	}
	@media (max-width: $mobile-l) {
		height: 22.6rem;
	}
}

.ways-card__pic {
	height: 100%;	
	width: 100%;	
	transition: var(--tr-regular);
	overflow: hidden;
}

.ways-card:hover .ways-card__pic {
	@media (any-hover:hover) {
		border-radius: var(--brad) var(--brad) 10rem 10rem;
	}
}

.ways-card__img {
	border-radius: var(--brad) var(--brad) 0 0;
	transition: var(--tr-regular);
	object-fit: cover;
	height: 100%;	
	width: 100%;	
}

.ways-card:hover .ways-card__img {
	@media (any-hover:hover) {
		transform: scale(1.2);
	}
}

.ways-card__title {
	font-size: 3.5rem;
	line-height: initial;
	margin-bottom: 1.5rem;
	font-family: var(--ff-title);
	font-weight: 700;
	letter-spacing: 0;

	@media (max-width: $desktop-s) {
		line-height: 	1.1;
	}

	@media (max-width: $tablet) {
		font-size: 	2.4rem;
		margin-bottom: 	1rem;
	}

	@media (max-width: $tablet) {
		line-height: 	initial;
	}
}

.ways-card__desc {
	font-size: 	1.8rem;
	line-height: 	initial;

	@media (max-width: $desktop-s) {
		font-size: 	2rem
	}

	@media (max-width: $tablet) {
		font-size: 	1.6rem;
		letter-spacing: normal;
	}
}

.ways-card__link:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
}
