/* stylelint-disable no-invalid-position-at-import-rule */
@use "sass:math";

@import "./variables/variables";
@import "./variables/colors";
@import "./mixins";

.container {
  max-width: 159rem;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $desktop-s) and (min-width: $tablet + 1) {
    padding-left: 4.5rem; 
    padding-right: 4.5rem; 
  }
  @media (max-width: $tablet) {
    padding-left: 1.8rem; 
    padding-right: 1.8rem; 
  }
}

@keyframes polifillhover {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    --icon-color: var(--button-icon-color-hover, #fff);
    --icon-bg-color: var(--button-icon-bg-color-hover, #000);
  }
}

@import "./components";

// Шрифты
@include font('Inter', normal, 400, '../resources/fonts/inter/inter-regular');
@include font('Inter', normal, 500, '../resources/fonts/inter/inter-medium');
@include font('Inter', normal, 700, '../resources/fonts/inter/inter-bold');


@include font('Craftwork', normal, 400, '../resources/fonts/craftworkgrotesk/craftworkgrotesk-regular');
@include font('Craftwork', normal, 500, '../resources/fonts/craftworkgrotesk/craftworkgrotesk-medium');
@include font('Craftwork', normal, 700, '../resources/fonts/craftworkgrotesk/craftworkgrotesk-bold');

@include font('Gilroy', normal, 500, '../resources/fonts/gilroy/gilroy-medium');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..900&display=swap');

// Сброс CSS
@import "./reset";
@import "./normalize";

html {
  font-size: #{'calc(0.520834 * var(--base-size))'};//calc(0.342466 * var(--base-size)); //10px for 1920×1000 
  @media (max-width: $tablet) {
      font-size: #{'calc(2 * 1.0395 * var(--base-size))'};//calc(1.0395 * var(--base-size));//calc(1.0582 * var(--base-size));
  }
  @media (max-width: $desktop-l) {
      // font-size: #{'font-size: calc(0.570834 * var(--base-size));'};//calc(1.0395 * var(--base-size));//calc(1.0582 * var(--base-size));
      font-size: #{'calc(0.570834 * var(--base-size))'};
  }
  @media (max-width: $mobile-l) {
    font-size:  #{'calc(3.125 * var(--base-size))'};//calc(0.980397 * var(--base-size)); // 10px for 320×700
  }
  // @media (max-width: 1600px) {
  //   font-size: calc(0.343466 * var(--base-size)); //10px for 1600×900 
  // }
  // @media (max-width: 1440px) {
  //   font-size: calc(0.44643 * var(--base-size)); //10px for 1440×800
  // }
}
body {
  color: var(--c-text-regular);
  font-weight: 400;
  font-family: var(--ff-regular);
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
body._lock {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  // overflow: hidden;
}
.wrapper > .content {
  position: relative;
  z-index: 1;
  flex: 1 0 auto;
}

// Библиотеки
@import "./libs/swiper";
// @import "./libs/lightgallery";
// @import "./libs/rangeslider";
@import "./libs/fancybox";

// Базовые стили, шаблоны, заготовки

// Общие стили проекта
@import "./sections";
@import "./pages";

// Карточки
// @import "./components/cards/";

// Модальные окна
// @import "./components/modals/";


// Стили для отдельных страниц
// @import "./pages/";
