/*
* Пример использования компонента кнопки
*/

:root {
  --fz-button: 1rem;
  --fw-button: 500;
  --lh-button: auto;

  --button-bg: var(--c-accent);
  --button-bg-hover: var(--bg-element);
  --button-color: var(--c-text-on);
  --button-color-hover: var(--c-accent);
}

.button-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(21.5) rem(31.5);

  border: 1px solid var(--c-accent); //1

  font-size: var(--fz-button);
  font-weight: var(--fw-button);
  line-height: var(--lh-button);

  text-align: center;
  cursor: pointer;

  border-radius: rem(10);
  color: var(--button-color);
  --icon-color: var(--button-color);
  background: var(--button-bg, transparent);

  transition: all 0.3s ease;

  @media (max-width: $w-mobile) {
    padding: 1.678rem;  
  }
}
.button-primary:hover {
  @media (any-hover:hover) {
    background-color: var(--button-bg-hover);
    color: var(--button-color-hover)
  }
}
.button--wait {
  opacity: 0.5;
  pointer-events: none;
}


/*
  Swiper Buttons
 */
.swiper-button-prev {

}
.swiper-button-prev:after {
  color: transparent;
}
.swiper-button-prev .swiper-button__icon {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(-1, 1);
}
.swiper-button-next {

}
.swiper-button-next:after {
  color: transparent;
}
.swiper-button-next .swiper-button__icon {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-button-prev .swiper-button__icon,
.swiper-button-next .swiper-button__icon {
  fill: var(--bg-element);
  stroke: var(--c-text-regular);
  transition: var(--tr);
}
.swiper-button-prev:hover .swiper-button__icon,
.swiper-button-next:hover .swiper-button__icon {
  @media (any-hover:hover) {
    fill: var(--c-text-regular);
    stroke: var(--bg-element);
  }
}
/*
.button[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.button:active {
  @media (min-width: $minHover) {
    opacity: 0.6;
  }
}

.button__text {
  width: 100%;
  font-size: inherit;
}

.button__icon {
  display: block;
  --width: 1.2857142857142858em; //18
  width: var(--button-icon-size, var(--width));
  min-width: var(--button-icon-size, var(--width));
  max-width: var(--button-icon-size, var(--width));
  height: 1.4285714285714286em; //20
  background-color: transparent;
  fill: var(--icon-color);
  stroke: none;
  transition: all var(--tr) ease;
}
.button--icon-stroke .button__icon {
  fill: transparent;
  stroke: var(--icon-color);
}

.button--icon-left .button__icon {
  order: -1;
  margin-right: 0.57em;
}
.button--icon-right .button__icon {
  order: 5;
  margin-left: 0.57em;
}
.button__icon path {
  stroke: var(--button-color);
}
.button--icon-left ,
.button--icon-right {
  padding: 1.3571428571428572em 3.4285714285714284em; // 19 48
}

// Вариации кнопок
.button--primary {
  --button-bg: var(--bg-button-primary);
  --button-color: var(--c-text-on);
}
.button--primary:hover {
  @media (any-hover:hover) {
    --button-bg: var(--bg-button-secondary);
  }
}

.button--secondary {
  --button-bg: var(--bg-button-secondary);
  --button-color: var(--c-text-on);
}
.button--secondary:hover {
  @media (any-hover:hover) {
    border: 1px solid #EFF2F5;
    background: transparent;
    --button-color: var(--c-text-regular);
  }
}

.button--ghost {
  --button-bg: transparent;
  border-color: var(--bg-button-secondary);
}

.button--on:hover {
  @media (any-hover:hover) {
    --button-color: var(--c-text-on);
  }
}
*/