.link {
  --link-color: var(--c-accent);
  --link-color-hover:  var(--c-accent-active);
  --link-underline-color: var(--link-color);//rgba(255,255,255,0.2);
  --link-underline-color-hover: var(--link-color-hover);//var(--c-accent-disabled);

  --link-icon: var(--icon-color);
  display: inline;
  align-items: center;
  justify-content: flex-start;
  color: var(--link-color);
  font-size: 1.8rem;
  font-family: var(--ff-controls);
  transition: all 0.1s ease;
  cursor: pointer;

  @media (max-width: $tablet) {
    font-size:  1.6rem;
  }
}
.link:hover {
  @media (any-hover:hover) {
    --link-color: var(--link-color-hover);
    --link-underline-color: var(--link-underline-color-hover);
  }
}
.link__text {
  display: inline;
  color: inherit;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--link-underline-color);
  transition: var(--tr-regular);
}

[class*="title"] > .link {
  letter-spacing: initial;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

[class*="title"] > .link:not(:hover) {
  --link-color: var(--link-fg);
  --link-underline-color: var(--link-fg);
}
